<div class="content" role="main">
    <h2>MES APPAREILS</h2>
  
    <p>mise à jour : {{lastUpdate |async |date: 'dd-MMMM-yyyy' | uppercase}} </p>
    <ul class="list-group">
      <app-appareil *ngFor="let appareil of appareils; let i=index"  
                    [indexOfAppareil] = "i"
                    [appareilName]="appareil.name" 
                    [appareilStatus]="appareil.status"
                    [id]="appareil.id"></app-appareil>
    </ul>
    <button class="btn btn-success" 
      [disabled]="!isAuth" 
      (click)="onAllumer()">Tout allumer</button>
      <button class="btn btn-danger"  
      (click)="onEteindre()">Tout éteindre</button>
      <button class="btn btn-primary" (click)="onSave()">Enregistrer</button>
      <button class="btn btn-primary" (click)="onFetch()">Récupérer du serveur</button>
  </div>
